main.main-container{
    width: 100%;
    height: 100%;
}

section.main-section{
    position: relative;
    width: calc(100% - var(--sidebar-width));
    margin-left: auto;
    height: 100%;
    min-height: 100vh;
    padding: calc(80px) 0px 10px 0px;
    /* background-color: var(--section-main-section); */
    background-color: #161b26;
}