.login-rht-img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
 
.login-left{
    background-color: black;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: flex;
  flex-direction: column;
  justify-content: space-between; /* push footer to bottom */
  padding: 2rem;
 
}
 
.login-part{
    width: 360px;
    height: 100%;
    color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.login-part .login-head{
    text-align: center;
    padding-bottom: 24px;
}
 
.login-head h4 {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 12px;
    margin: 0;
   
}
 
.login-form{
    width: 100%;
}
 
.login-input{
    width: 360px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid #333741;
    background: #0C111D;
    color:white ;
    padding: 10px 14px;
}
 
.login-input:focus-visible{
    outline: 2px solid #B37FEB;
    border: none;
    color: white;
}
 
.login-email{
    margin-bottom: 20px;
}
 
 
.login-opt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0px;
}
 
.login-check{
    margin-right: 8px;
}
 
.checkbox-container {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #d1d1d1;
      font-size: 1.2rem;
      cursor: pointer;
    }
 
    .checkbox-container.contract-list {
      display: flex;
      gap: 10px;
      color: #d1d1d1;
      font-size: 1.2rem;
      cursor: pointer;
    }
 
    .checkbox-container input[type="checkbox"] {
      display: none;
    }
 
    .custom-checkbox {
      width: 16px;
      height: 16px;
      border-radius: 4px;
      background-color: #2c2c2e;
      position: relative;
      transition: background-color 0.2s ease;
    }
 
    .checkbox-container input[type="checkbox"]:checked + .custom-checkbox {
      background-color: #722ED1;
    }
 
    .checkbox-container input[type="checkbox"]:checked + .custom-checkbox::after {
      content: url('../../../images/icons/check.svg');
      color: white;
      font-size: 1px;
      position: absolute;
      top: 50%;
      left: 50%;
 
      transform: translate(-50%, -50%);
    }
 
 
 
.login-sign button{
    width: 100%;
    height: 44px;
    border-radius: 8px;
    padding: 10px 16px;
    background-image: linear-gradient(to right ,#EB2F96,#722ED1);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}
 
.login-sign button:hover{
    background-image: linear-gradient(to right,#722ED1);
}
 
.login-sso button{
    width: 100%;
    height: 44px;
    border-radius: 8px;
    padding: 10px 16px;
    border: 1px solid #333741;
    color: white;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
}
 
.login-sso button:hover{
    background-color: #1F242F;
}
 
.login-head h6 {
    font-size: 16px;
    font-weight: 400;
    color: #94969C;
}
 
.login-right{
    position: relative;
}
 
.login-grad{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom ,#EB2F96 ,#722ED1);
    opacity: 0.74;
}
 
 
.login-footer{
    color: #94969C;
   
}
 
.login-srm{
    height: 30px;
    width: 139px;
    margin-bottom: 30px;
}
 
 
 
/*
.login-top{
  display: flex;
  justify-content: space-between;
 margin-bottom: 48px;
} */
 
.login-top{
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
    align-items: center;
}
.Access{
  font-family:"Montserrat";
font-weight: 700;
font-style: Bold;
font-size: 25.27px;
line-height: 34.46px;
letter-spacing: 0%;
vertical-align: middle;
color: #ffffff;
margin-bottom: 0px;
}
 
 
.ver{
  font-family: "Montserrat";
font-weight: 600;
font-style: SemiBold;
line-height: 1;
font-size: 25.27px;
line-height: 34.46px;
letter-spacing: 0%;
vertical-align: middle;
margin-bottom: 0px;
 background: linear-gradient(to right, #EB2F96, #722ED1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;}
 
.Top-left img{
    width:160px;
    height:60px;
}
.Top-right{
    margin-left: 2px;
}