:root {
    --primary-color: #005eb8;
    --primary-color-light: #3376bc;
    --light-blue-3: #c8d9e9;
    --light-blue-3: #f2f8ff;
    --green: #76ba59;
    --green-1: #00c113;
    --light-green: #76ba59;
    --light-green-1: #e8f5e9;
    --teal: #00a28a;
    --white: #fff;
    --black: #000;
    --black-1: #222;
    --black-30: #303030;
    --black-42: #424242;
    --bg-light-1: #fafafa;
    --bg-light-2: #e0e0e0;
    --bg-light-3: #f5f5f5;
    --bg-light-4: #fdfdfd;
    --bg-light-5: #fffbe7;
    --bg-light-6: #efefff;
    --bg-light-7: #f9f9f9;
    --bg-light-8: #fefefe;
    --bg-light-9: #fcfcfc;
    --bg-border: #eeeeee;
    --bg-dark: #616161;
    --bg-dark-2: #757575;
    --bg-dark-3: #9e9e9e;
    --bg-dark-4: #999999;
    --bg-dark-5: #797979;
    --bg-dark-6: #bdbdbd;
    --bg-dark-7: #d6d6d6;
    --gold: #ffaa01;
    --gold-1: #ffc300;
    --btn-blue-text: #003a71;
    --dashboard-hover: linear-gradient(to right, rgba(0, 94, 184, 0.05), rgba(0, 94, 184, 0));
    --item-hover: #fbfdff;
    --red: #ff0000;
    --red-1: #ff2400;
    --red-light-1: #e25b45;
    --red-light-2: #fff3f1;
    --orange: #ff6f00;
    --orange-1: #ff8000;
    --orange-2: #fff3e0;
    --orange-3: #e16d06;
    --light-orange: #fff1e5;
    --light-yellow: #fff9e3;
    --xxxl-large: 100px;
    --xxl-large: 60px;
    --xl-40: 40px;
    --large-32: 32px;
    --extra-large: 30px;
    --large-2: 28px;
    --large-24: 24px;
    --large-1: 22px;
    --large: 20px;
    --medium: 18px;
    --normal: 16px;
    --default: 14px;
    --small: 12px;
    --extra-small: 10px;
    --xxsmall: 8px;
    --font-light: 'Inter-Light', sans-serif;
    --font-italic: 'Inter-Italic', sans-serif;
    --font-regular: 'Inter-Regular', sans-serif;
    --font-medium: 'Inter-Medium', sans-serif;
    --font-semibold: 'Inter-SemiBold', sans-serif;
    --font-bold: 'Inter-Bold', sans-serif;
    --font-extrabold: 'Inter-ExtraBold', sans-serif;
  }
  
  
  
  @font-face {
    font-family: 'Inter';
    src: url(../../fonts/Inter.ttf);
  }


    
  @font-face {
    font-family: 'Montserrat';
    src: url(../../fonts/Montserrat.ttf);
  }
 

  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Inter';
  }
  
  html {
    font-size: var(--default);
  }
  
  body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
  }
  
  /* Custom Scrollbar */
  
  /* width */
  ::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
  